<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/register">Admin Register</a></li>
                <li><a href="/admin/login">Admin Login</a></li>
                <li><a href="/user/register">User Register</a></li>
                <li><a href="/user/login">User Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
