<%- include('../partials/header.ejs') %>

<section>
    <h1>User Dashboard</h1>
    <!-- Display user-specific content here -->
    <p>Welcome, <%= username %>!</p>
    <a href="/admin/logout">Logout</a>
</section>

<%- include('../partials/footer.ejs') %>
