<section>
    <h1>Admin Login</h1>
    <form action="/auth/admin/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="role">Role</label>
        <select id="role" name="role">
            <option value="admin">Admin</option>
        </select>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/auth/admin/register">Register</a></p>
</section>

<%- include('../partials/footer.ejs') %>

